# GENERAL CONFIG
NPM_CONFIG_PRODUCTION=false
IS_DEBUG_MODE=true
VALID_DURATION=30
CLUSTERS=0

# HEDERA ENVIRONMENT
NODE_ENV=testnet # | mainnet
CLIENT_ENV=local-node # | mainnet | testnet
NETWORK=public # | private
LEDGER=hashgraph # | ripple

# NESTJS SETTINGS
PORT=8888

# AUTH SECRETS
SESSION_SECRET=a7f9e3b2c1d0e5f6a8b9c0d1e2f3a4b5 # change me

# SMART REGISTRY
SMART_REGISTRY_URL='http://smart_registry-smart_node-1:1234' # 'local'

# MONGO DB
DEV_MONGO_DB=
PROD_MONGO_DB=

# SUBSCRIPTION NFT
DEV_SUBSCRIPTIONS_TOKEN_ID=
PROD_SUBSCRIPTIONS_TOKEN_ID=

DEV_SUBSCRIPTIONS_PAYMENT_TOKEN_ID=
PROD_SUBSCRIPTIONS_PAYMENT_TOKEN_ID=
DEV_SUBSCRIPTIONS_PAYMENT_DECIMALS=
PROD_SUBSCRIPTIONS_PAYMENT_DECIMALS=

SUBSCRIPTIONS_PAYMENT_COINGECKO_ID=hsuite
COINGECKO_API_KEY=

SUBSCRIPTIONS_CID=
SUBSCRIPTIONS_METADATA=

# REDIS
REDIS_URL="127.0.0.1"
REDIS_PASSWORD=""
REDIS_PORT="6379"
REDIS_USERNAME="default"
REDIS_DATABASE=0

# TESTNET OPERATOR
DEV_NODE_ID=
DEV_NODE_PRIVATE_KEY=
DEV_NODE_PUBLIC_KEY=